.App {
  text-align: center;
}

b.title { color: yellow;
  font-size: 80px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

b {
  color: forestgreen;

}

p.news-title {
  font-family: Helvetica;

}

body {
  background-color: whitesmoke;
  text-align: center;
}

h1.or {
  margin-top: 25px;
  font-size: 45px;
}
h1.welcome {

  margin-bottom: 100px;

}
p.news-title {
 
  margin-bottom: 5px;
}

p {
  font-size: 25px;
}

.welcome {
  margin-top : 50px;
  margin-bottom: 5px;
}

#log{
  background-color: teal;
  color: white;
  border-radius: 8px;
  width: 110px;
  height: 33px;
  position: relative;
  text-align: center;
  margin-left: 0px;
  margin-top: 15px;
}

p.username {
  color: green;
}

p{
  font-size: 28px;
}

span {
  margin-top: 500px;}

p.top {
  text-align: center;
  display: inline-block;
  position: relative;
  right: 130px;
  bottom: -20px;
}

p.top-1{
position: relative;
bottom: 450px;
right: 390px;
text-align: center;
}