a {
    text-align: left;
    margin-left: 20px;
}

.title-forum-article {
    font-size: 20px;
    margin-left: -390px;
    text-align: left;
}

.description-forum-article
{
    font-size: 20px;
    text-align: left;
    margin-left: -390px;
}
.author-forum-article {
    font-size: 20px;
    text-align: left;
    margin-left: -390px;
}
.commentary {
    text-align: left;
    padding-left: 20px;
    font-size: 10px;
}

label {
    position: relative;
    bottom: 55px;
}

textarea {
    font-size: 18px;
}

.add-comment {
    background-color: teal;
    color: white;
    height:40px;
    width: 150px;
    border-radius:6px;
    font-size: 12px;
    margin-top: 10px;
}

h6 {
    font-size: 10px;
}

.forum {
    margin-top: 65px;
}

.comment-card {
    margin-left: 20px;

}