body {
    background-color: lightgray;
}

form {
    margin-top: 30px;
    margin-right: 1200px;
    display: inline-block;
    width: 500px;
    height: 40px;
    font-size: 27px;
}

div {
  font-size: 18px;
    
}
div.button {
    margin-top: 10px;
  
}

button.save {
    font-size: 17px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    padding: 3px;
    font-weight: 550;
    height: 33px;
    width: 250px; 
    position: relative;
    top: 500px;
    left: 590px;

}

button.preferences {
    font-size: 17px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    padding: 3px;
    font-weight: 550;
    height: 35px;
    width: 200px; 
    text-align: center;
    position: relative;
    top: 0px;
    left: 600px;
    
}
button#log{
    text-align: center;
    position: relative;
    top: 500px;
    left: -15px;
}
div.links {
    text-align: right;
    margin-top: 25px;
    display: inline-grid;
    font-size: 25px;
    color: lightgrey;
    grid-template-columns: 450px 200px 200px 200px 200px 200px;
    width: 100%;
    margin-bottom: -45px ;
}
div.intro {
    font-size: 30px;
    font-family: Helvetica;

}
div.form-entry {
   position: relative;
   bottom: 0px;
   padding-top: 60px;

}
div.log-in-form{
    position: relative;
    bottom: 0px;
}
div.button-preferences {
    text-align: center;
    padding: 12px;
    position: relative;

}

#username-error-message {
    position: relative;


}
h1.prefs {
    font-size: 55px;
    font-family: Helvetica;
    text-align: center;
}

h1.forum {
    font-family: Helvetica;
    font-size: 55px;
}

h2.separator {
    text-align: center;
    margin-left: 840px;
    margin-top: -37px;
    margin-bottom: -390px;
}

h3.topics {
    font-size: 25px;
    font-family: Helvetica;
    text-align: center;
}

h3.color {
    color: green;
    font-size: 28px;
    font-family: Helvetica;
}


h1.welcome {
    font-size: 80px;
    font-family: Helvetica;
}

p {
    color: grey;
    font-size: 24px;
    } 

p.header {
    color: gray;
    font-size: 24px;
}

label {
    position:relative;
    font-size: 14px;
    font-weight:450;
}

#login-welcome {
    font-size: 55px;
    font-family: Helvetica;
}

span {
    display: grid;
  position: relative;
  top: 0px;
  margin-left: 750px;  
} 


h5 {
    text-align: center;
    position: relative;
    left: 600px;
    
}

input {
    position: relative;
    
}