body {
    background-color: lightgray;
}

form {
    /* text-align: center; */
    display: inline-block;
    width: 500px;
    height: 40 px;
    font-size: 27px;
}

div {
  font-size: 18px;
    
}
div.button {
    margin-top: 10px;
  
}

button.save {
    font-size: 17px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    padding: 3px;
    font-weight: 550;
    height: 35px;
    width: 250px; 

}

button.preferences {
    font-size: 17px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    padding: 3px;
    font-weight: 550;
    height: 35px;
    width: 200px; 
    
}

div.links {
    text-align: right;
    margin-top:25px;
    display: inline-grid;
    font-size: 25px;
    color: lightgrey;
    grid-template-columns: 600px 200px 200px 200px 200px;
    width: 100%;
    margin-bottom: -45px ;
}
div.intro {
    font-size: 30px;
    font-family: Courier;
}

div.button-preferences {
    padding: 12px;

}
h1.prefs {
    font-size: 55px;
    font-family: Courier;
}

h1.forum {
    font-family: Courier;
    font-size: 55px;
}

h2.separator {
    margin-top: 7px;
}

h3.topics {
    font-size: 25px;
    font-family: Courier;
}

h3.color {
    color: green;
    font-size: 28px;
    font-family: Courier;
}


h1.welcome {
    font-size: 80px;
    font-family: Courier;
}

p {
    color: grey;
    font-size: 24px;
    } 

label {
    font-size: 14px;
    font-weight:550;
}

#login-welcome {
    font-size: 55px;
    font-family: Courier;
}